
html {
    height: 100%;
    background-image: url(vaporwave.jpeg);
    background-size: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.keys {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 0px auto 0px auto;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.550);
}

.key {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 20px;
    align-items: center;
    justify-content: baseline;
    margin: 10px;
    padding: 0px 20px 0px 20px;
    width: 70px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.126);
    transition: all .2s ease-in-out;
    color: white;

}

.key p {
    color: white;
    font-weight: 800;
}

.key-interact-down p {
    color: white;
    font-weight: 800;
}

.key-interact-up p {
    color: yellow;
    font-weight: 800;
}

.key-interact-down {
    transition: all .2s ease-in-out;
    transform: scale(0.85);
    border: 3px solid yellow;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin: 10px;
    padding: 0px 20px 0px 20px;
    width: 70px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.126);
    color: white;
}

.key-interact-up {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
    border: 3px solid yellow;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin: 10px;
    padding: 0px 20px 0px 20px;
    width: 70px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.126);
    color: yellow;
}